<ion-content>
    <app-common-header [header]="moviliHeader"></app-common-header>
    <img *ngIf="!userResponse.avatarUrl" class="edit-profile-avatar" src="assets/profile.jpg" alt="">
    <img *ngIf="userResponse.avatarUrl" class="edit-profile-avatar" src="{{avatarUrl + userResponse.avatarUrl}}" alt="">
    <div class="page-padding">
        <div class="d-flex ion-align-items-center ion-justify-content-center">
            <div class="user-name">
                {{userResponse?.name + ' ' + userResponse?.surname}}
            </div>
            <div class="edit">
                <img (click)="editUser()" [appBackgroundImage]="{id:'/assets/icon/edit.svg',index:0}" src="" alt="">
            </div>
        </div>
        <div class="user-profession">
            {{userResponse?.email}}
        </div>
        <div class="custom-margin-top"></div>
        <div class="user-location">
            <img src="assets/icon/point.svg" alt="">
            {{userResponse?.city?.name}}
        </div>
        <div class="custom-margin-top"></div>
<!--        <div class="card-margin-border">-->
<!--            <label>О себе</label>-->
<!--            <div class="isp-info">-->
<!--                {{userResponse.gender}}-->
<!--            </div>-->
<!--            <div class="profile-margin-top"></div>-->
<!--        </div>-->

            <label>Информация</label>
            <div class="profile-margin-top"></div>
            <div class="flex-grid">
                <label class="small-label" for="phoneNumberId">Номер телефона</label>
                <input id="phoneNumberId" class="profile-input" disabled
                       [value]="'+' + userResponse.username"
                       type="text" placeholder="Введите имя">
            </div>
            <div class="custom-margin-top"></div>
            <div class="flex-grid">
                <label class="small-label" for="birthDateId">Дата рождения</label>
                <input id="birthDateId" class="profile-input" disabled
                       [value]="userResponse.birthDate | date"
                       type="text" placeholder="Дата рождения">
            </div>
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <label class="small-label" for="genderId">Пол</label>
            <input id="genderId" class="profile-input" disabled
                   [value]="userResponse.gender === 'MALE' ? 'Мужской' : userResponse.gender === 'FEMALE' ? 'Женский' : 'Не определено'"
                   type="text" placeholder="Введите имя">
        </div>

    </div>
</ion-content>

