<app-common-header [header]="moviliHeader"></app-common-header>


<ion-content>
    <div class="page-padding home-padding">
        <app-news-banner [banners]="banners"></app-news-banner>
        <div class="custom-margin-top"></div>
        <div class="section-title">
            <h5>Выберите сервис</h5>
        </div>
        <div class="custom-margin-top"></div>
        <div class="custom-margin-bottom" *ngFor="let service of services">
            <app-usluga-card (click)="goToType(service)" [serv]="service"></app-usluga-card>
        </div>
<!--        <div class="categories">-->
<!--            <button class="custom-button-movili" (click)="goToCategories()">Выбрать категорию</button>-->
<!--        </div>-->

    </div>
</ion-content>
