<app-common-header [header]="moviliHeader"></app-common-header>


<ion-content>
    <div class="page-padding home-padding">
        <app-news-banner [banners]="banners"></app-news-banner>
        <div class="custom-margin-top"></div>
        <div class="section-title">
            <h5>Выберите сервис</h5>
        </div>
        <div class="custom-margin-top"></div>
        <div class="categories">
            <app-service-category></app-service-category>
        </div>

    </div>
</ion-content>
