<div class="main-card">
    <img *ngIf="!partner?.logoUrl" src="../../../assets/unknown-avatar.jpeg" class="user-photo" alt="">
    <img *ngIf="partner?.logoUrl" src="{{fullUrl + partner?.logoUrl}}" class="user-photo" alt="">
    <div class="user-name">{{partner?.name}}</div>
    <div class="right-icon">
        <img src="assets/icon/right-arrow.svg" alt="">
    </div>
    <div class="user-address">
        <span class="bold">Адресс: </span>
        {{partner?.address}}
    </div>
    <div class="user-address">
        <span class="bold">Номер: </span>
        {{partner?.phone}}
    </div>
<!--    <div class="day-time">-->
<!--        <div class="calendar-day">{{'Пн'}}</div>-->
<!--        01.01.2022-->
<!--    </div>-->
<!--    <div class="day-time">-->
<!--        <img src="assets/icon/time-icon.svg" alt="">-->
<!--        18:00-->
<!--    </div>-->

</div>
