<ion-content>
    <app-common-header (onFinishAction)="saveUserProfile()" [header]="moviliHeader"></app-common-header>
    <div class="edit-user-photo">
        <img class="edit-profile-avatar" src="assets/profile.jpg" alt="">
        <button class="custom-transparent-button white-btn" (click)="editPhoto()">Заменить</button>
    </div>
    <div class="page-padding">
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <label class="bold-label" for="firstNameId">Имя</label>
            <input id="firstNameId" class="profile-input"
                   [(ngModel)]="userResponse.name"
                   type="text" placeholder="Введите имя">
        </div>
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <label class="bold-label" for="surnameId">Фамилия</label>
            <input id="surnameId" class="profile-input"
                   [(ngModel)]="userResponse.surname"
                   type="text" placeholder="Введите фамилию">
        </div>
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <label class="bold-label" for="emailId">Email</label>
            <input id="emailId" class="profile-input"
                   [(ngModel)]="userResponse.email"
                   type="text" placeholder="Введите email">
        </div>
        <div class="flex-grid">
            <div class="bold-label">Пол</div>
            <input id="genderId" class="custom-input" readonly [(ngModel)]="userResponse.genderName" (click)="openAlertGender()"
                   type="text" placeholder="Выберите пол">
        </div>
        <div class="flex-grid">
            <div class="bold-label">Город</div>
            <input id="cityId" class="custom-input" readonly [(ngModel)]="userResponse.cityName" (click)="openAlertLocation()"
                   type="text" placeholder="Выберите город">
        </div>
        <div class="custom-margin-top"></div>
        <div class="flex-grid">
            <div class="bold-label">Дата рождения</div>
            <ion-item>
            <ion-datetime [(ngModel)]="userResponse.birthDate" [max]="max" mode="ios"
                          pickerFormat="YYYY/MMM/DD"
                          placeholder="Выберите дату рождения"
                          displayFormat="DD-MM-YYYY"></ion-datetime>
            </ion-item>
        </div>
    </div>

</ion-content>
